[Unit]

# https://www.freedesktop.org/software/systemd/man/systemd.unit.html

# for clarity, Description should the same as the symlink created in /etc/systemd/system
Description="h2optimum:api"
After=network.target
After=postgresql.service
Wants=postgresql.service


[Service]

# https://www.freedesktop.org/software/systemd/man/systemd.service.html
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html

Type=simple
User=user
WorkingDirectory=/home/user/github/h2optimum
ExecStart=/home/pvieira/.nix-profile/bin/nix-shell --run "node packages/api/src/server.js" ./shell.nix


#ExecStop=...
Restart=on-failure
RestartSec=3s

# if restarted is used, will try 3 times during a period of 30 seconds; if the process is not running after that
# period, it enters the 'failed' state; for systemd v230 the following 2 options have been renamed and moved to 
# the [Unit] section: StartLimitInterval and StartLimitBurst; more details here:
# - https://serverfault.com/questions/736624/systemd-service-automatic-restart-after-startlimitinterval
# - https://lists.freedesktop.org/archives/systemd-devel/2017-July/039255.html

StartLimitInterval=30s
StartLimitBurst=3
PrivateTmp=true
ProtectSystem=full

#StandardOutput=journal
CPUAccounting=true
MemoryAccounting=true
TasksAccounting=true
IOAccounting=true
IPAccounting=true
MemoryMax=1000M

#Environment=ONE=123
#Environment="TWO='with space'"
#EnvironmentFile="/path/to/.env"


[Install]

WantedBy=multi-user.target