APP_MODE="dev"

#
# vite server (development)
#

VITE_PORT="5300"

#
# node server (production build; should be equal to ${VITE_PORT})
#

WEBAPP_PORT="5300"

#
# api server
#

API_PORT="5301"
API_ORIGIN=""
API_PROCESS_NAME=""

#
# postgres (see: https://www.postgresql.org/docs/current/libpq-envars.html)
#

PGHOST="localhost"
PGPORT="5432"
PGDATABASE="..."
PGUSER="..."
PGPASSWORD="..."
PGAPPNAME="..."
PGMAXCONNECTIONS="10"

#
# pg_timetable (see: https://github.com/cybertec-postgresql/pg_timetable/blob/master/internal/config/cmdparser.go)
#

PGTT_PGHOST="..."
PGTT_PGPORT="5432"
PGTT_PGDATABASE="..."
PGTT_PGUSER="..."
PGTT_PGPASSWORD="..."
PGTT_PGAPPNAME="pg_timetable"


#
# simulate a CI environment so that pnpm install will use "--frozen-lockfile" automatically
# more details: https://pnpm.io/cli/install#--frozen-lockfile

CI="false"



#
# random variables for testing
#

SOMETHING1="abc"
SOMETHING2="/path/to/some file"